@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.contaner{
    max-width: 1440px;
    width: 100%;
    height: 2554px;
    margin: 0 auto;
    position: relative;
}
.black{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 450px;
    height: 800px;
    background-color: black;
}
.mod{
    position: absolute;
    top: 189px;
    left: 165px;
    font-family: "big shoulders Display";
    font-weight: 900;
    font-size: 96px;
    font-style: normal;
    line-height: 88px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.gal{
    position: absolute;
    top: 277px;
    left: 165px;
    font-family: "big shoulders Display";
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;
    color: #FFFFFF;  
}
.part1{
    position: absolute;
    top: 189px;
    left: 447px;
    font-family: "big shoulders Display";
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;
    color: black;
}
h4{
    position: absolute;
    top: 277px;
    left: 447px;
    font-family: "big shoulders Display";
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;
    color: black;
}
.woman{
    position: absolute;
    top: 0;
    /* opacity: 0.5; */
    left: 450px;
    width: 540px;
    height: 800px;
}
.arts{
    position: absolute;
    width: 350px;
    height: 160px;
    width: 350px;
    height: 160px;
    top: 190px;
    right: 164px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #444444;
}
button{
    position: absolute;
    top: 414px;
    right: 310px;
    width: 204px;
    height: 72px;
    color: #FFFFFF;
    background-color: black;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
}
button:hover{
    background-color: #D5966C;
}
.button{
    position: absolute;
    top: 414px;
    right: 254px;
    width: 56px;
    height: 72px;
    background-color: #D5966C;
}
.button:hover{
    background-color: black;
}
.butt{
    width: 8px;
    height: 24px;
}
.text{
    position: absolute;
    top: 1040px;
    left: 165px;
    width: 350px;
    height: 280px;
}
h5{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    width: 350px;
    left: 120px;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #151515;   
}
.wander{
    width: 350px;
    height: 128px;
    margin-top: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #444444;
}
.photo1{
position: absolute;
top: 980px;
right: 164px;
width: 635px;
height: 400px;
}
.photo2{
    position: absolute;
    top: 1410px;
    left: 165px;
    width: 635px;
    height: 720px;
}
.photo3{
    position: absolute;
    top: 1410px;
    right: 164px;
    width: 445px;
    height: 313px;
}
.blacklit{
    background-color: black;
    width: 445px;
    height: 377px;
    position: absolute;
    bottom: 424px;
    right: 164px;
}
h6{
    width: 350px;
    height: 120px;
    margin-top: 65px;
    margin-left: 48px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.blacklit p{
    width: 350px;
    height: 96px;
    margin-top: 32px;
    margin-left: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}
.foot1{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top:  80px;
    height:  165px;
    width: 1440px;
    height: 244px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.foot{
    /* margin-left: 165px; */
    width: 1110px;
    height: 84px;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    justify-content: space-between;
}
footer p{
    width: 430px;
    height: 84px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.icon{
    width: 110px;
}
.fb{
    width: 20px;
    height: 20px;
}
.fb :hover{
    fill: #D5966C;
}
.insta{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.twit{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.contaner2{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.map{
    position: absolute;
    width: 1440px;
    height: 600px;
    top: 0;
    left: 0;
}
.locat{
    position: absolute;
    width: 66px;
    height: 88px;
    top: 256px ;
    left: 687px;
}
.backtohome{
    position: absolute;
    top: 0;
    left: 212px;
    width: 208px;
    height: 72px;
    background-color: black;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
}
.backtohome :hover{
background-color: #D5966C;
}
.button2{
    position: absolute;
    top: 0;
    left: 156px;
    background-color: #D5966C;
    width: 56px;
    height: 72px;
}
.button2:hover{
    background-color: black;
}
.butt2{
    width: 8px;
    height: 24px;
}
section{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 548px;
    left: 0 ;
    top: 600px ;
    background-color: black;
}
.black2{
    display: flex;
    justify-content: space-between;
    width: 1110px;
    height: 316px;
}
.satauri{
    width: 350px;
    height: 140px;
}
.satauri1{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.satauri2{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text2{
width: 555px;
height: 316px;
}
.king99{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #D5966C;
}
.newport{
    margin-top: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}
.ri02{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}
.united{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF; 
}
.ournewly{
    margin-top: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}
.foot2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1148px;
    width: 1440px;
    height: 244px;
    background-color: #D5966C ;
}
.footdiv{
    display: flex;
    justify-content: space-between;
    width: 1110px;
    height: 84px;
}
.themodern{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #151515;
}
.fb2 :hover{
    fill: white;
}
.insta2{
    margin-left: 20px;
}
.twit2{
    margin-left: 20px;
}



